.nav-height {
  height: 80px;
}

.header-name {
  font-size: 25px;
}

.links {
  font-size: 18px;
}

.how-section1 {
  margin-top: -15%;
  padding: 10%;
}

.how-section1 h4 {
  color: rgb(190, 137, 240);
  font-weight: bold;
  font-size: 45px;
}

.how-section1 h3 {
  color: white;
}


.how-section1 .row {
  margin-top: 10%;
}

.how-img {
  text-align: center;
}

.how-img img {
  width: 40%;
}