.nav-height {
  height: 80px;
}

.header-name {
  font-size: 25px;
}

.links {
  font-size: 18px;
}

.how-section1 {
  margin-top: -18%;
  padding: 5%;
}

.how-section1 h4 {
  color: rgb(190, 137, 240);
  font-weight: bold;
  font-size: 45px;
}

.how-section1 h2 {
  color: white;
  font-style: italic;
  color: rgba(255, 255, 255, 0.797);
  font-size: 23px;
}


.how-section1 .row {
  margin-top: 10%;
}

.how-img {
  text-align: center;
}

.how-img img {
  width: 40%;
}

hr {
  background-color: rgb(113, 31, 190);

}

@media only screen and (max-width: 990px),
screen and (max-height: 700px) {
  .moderator {
    padding-top: 0;
  }
}

.projects {
  color: rgb(169, 94, 239);
}

.card-hover:hover {
  transform: translateY(-8px) scale(1.005) translateZ(0);
  background: linear-gradient(to right, #ffefba, #ffffff);
}

.button-color {
  background: linear-gradient(to right, #7f00ff, #e100ff);
  color: white;
}

.button-color:hover {
  background: linear-gradient(to right, #41295a, #2f0743);
  color: white;
}

.buttons button a {
  text-decoration: none;
  color: white;
}

.resume-button {
  background: linear-gradient(to right, #7f00ff, #e100ff);
  color: white;
}

.resume-button:hover {
  background: linear-gradient(to right, #41295a, #2f0743);
  color: white;
  transition-duration: 0.4s;
  box-shadow: 2px 4px 3px 0 #ffefba, 0 17px 50px 0 #ffefba;
}

.bg1 {
  height: 600px;
  width: fit-content;
  border-radius: 30px;
}

.tech {
  background-color: #ffefba;
}

/* .stacks {
  display: inline-flex;
  padding: 70px 73px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background: #ffefba;
} */

.icons {
  width: 150px;
  height: 150px;
}

.tech-stacks {
  background: linear-gradient(to right, #41295a, #2f0743);
  color: white;
  transition-duration: 0.4s;
  box-shadow: 2px 4px 3px 0 #ffefba, 0 17px 50px 0 #ffefba;
  font-size: 25px;
}

.tech-stacks:hover {
  color: rgb(198, 220, 96);
}